.DS_Store
.idea/
.vscode/
*.log

# Ignore all node_modules and vendors regardless of depth
node_modules/
vendor/

# Env files
.env
.env.*

# Build folders
dist/
public/build/
public/hot/
public/storage/

# Laravel Storage
storage/*.key
storage/framework/
storage/logs/

SONEXA_Knowledge_Base.md
technical_debt_remediation_plan.md

src
.agents/